## PyORM 
### Python based Object-Relational Mapper

In [1]:
# Imports

from pyorm import connect_db # Main interface to connect with Python-based DBAPI

from pyorm import Model, Column
"""
Here Model is the base class all table-classes should inherit in order to be recognized by pyorm
Each Model object then has one or more Column objects represting columns in the table
Currently, these data types are supported for Column objects
    INT : Integer()
    VARCHAR : Varchar()
    TIME : Time()
    BLOB : Blob()
"""

from pyorm import Integer, Varchar, Time, Blob

Now we will try to make a connection with the database server (here using **sqlite**, currently only **sqlite** and **mysql** are supported databases). It throws exception when database connection couldn't be made.

In [2]:
# Remove the database if already exists
!rm tmp.db

In [3]:
db = connect_db('sqlite', 'tmp.db')  # db is the Engine class solely responsible for connection with DBAPI

In [4]:
db.logging() # Show queries before sending them to DBAPI

### Defining our own tables

In [ ]:

class Student(Model):
    
    __table_name__ = 'students' # Optional 
    
    id    = Column(Integer(), auto_increment=True)
    name = Column(Varchar(), nullable=False)
    age  = Column(Integer(), default=0)

print(Model.__subclasses__())

In [ ]:
class Teacher(Model):
    
    # __table_name__ optionally removed, it is assumed to be teacher (all lower cases)
    
    reg_no = Column(Integer(), auto_increment=True)
    name = Column(Varchar(), nullable=False)
    std = Column(Integer(), default=5)
    subject = Column(Varchar(), nullable=False)

In [ ]:
'''
We can now create all the above defined tables

CREATE TABLE IF NOT EXISTS # for every table
'''
db.create_all()

In [ ]:
'''
Now two table are present in the database.
'''
for table in db.table_all():
    print(table)

### Addin values to database tables

In [ ]:
stu1 = Student(name = 'Shubham', age = 20)
stu2 = Student(name = 'Rohit', age = 21)
stu3 = Student(name = 'Abhinav', age = 22)
stu4 = Student(name = 'Raghav', age = 19)
stu5 = Student(name = 'Aastik', age = 24)
stu6 = Student(name = 'Saurav', age = 18)

In [ ]:
db.insert(stu1)
db.insert(stu2)
db.insert(stu3)
db.insert(stu4)
db.insert(stu5)
db.insert(stu6)

In [ ]:
"""
Until the transaction is commited, nothing happens in database.
In order to commit our transaction, we need to call the commit() method on Engine class
"""
db.commit()

### Now we can make queries to our tables

In [ ]:
'''
SELECT * FROM students;
'''
q = db.select().from_(Student)

# Query is still not executed in the database until the result is demanded
q.query

In [ ]:
q.all()

In [ ]:
'''
SELECT * FROM students WHERE ( age <= 21);

'''
db.
    select().
    from_(Student).
    where(Student.age <= 21).
    all()

### In order to free up resources, we need to close the connection to database

In [ ]:
db.close() 
'''
It frees up the database, but it is sometimes forgotten
'''

### We have also made available a context manager to clean up memory when work is finished

In [ ]:
from pyorm import connecting

with connecting('sqlite', 'tmp.db') as engine:
    engine.create_all()
    
    teachers = [
        Teacher(name = 'Ramesh', std = 10, subject = 'Maths'),
        Teacher(name = 'Stuart', std = 9, subject = 'Chemistry'),
        Teacher(name = 'Rishabh', std = 7, subject = 'History'),
        Teacher(name = 'Jacob', std = 4, subject = 'Physics'),
        Teacher(name = 'Manish', std = 3, subject = 'Physics'),
        Teacher(name = 'Girish', std = 7, subject = 'Chemistry'),
        Teacher(name = 'Rakesh', std = 2, subject = 'Physics')
    ]
    
    for teacher in teachers:
        engine.insert(teacher)
    
    print(
        engine.
            select()
            .from_(Teacher)
            .where(Teacher.subject == 'Physics')
            .where(Teacher.std > 2)
            .all()
    )